@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "#ede8e4";
  color: black;
}

.underline-before {
  @apply relative before:absolute before:w-full before:bottom-0 before:left-0 before:h-[1px] before:bg-black before:scale-x-0 hover:before:scale-x-100 before:origin-left before:transition-all before:duration-300;
}

.underlined {
  @apply relative before:absolute before:w-full before:bottom-0 before:left-0 before:h-[1px] before:bg-black;
}

.scrollbar-track {
  background-color: #ede8e4 !important;
}

.scrollbar-thumb {
  background-color: black !important;
  border-radius: none !important;
}

.hidden-app {
  transform: none !important;
}
